
html{
	font-size: 18px;
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	background-color: lightgrey;
}

header{
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin-bottom: 20px;
}

#logo{
	opacity: 0.5;
	border-radius: 20% 20% 35% 35%;
	width: 220px; 
}

#introduccion{
	margin: 0 5% 20px 5%;
	font-weight: bold;
}

#datos label{
	margin: 10px;
	font-size: 18px;
}

#datos input{
	width: 300px;
	font-size: 18px;
}

ol{
	padding: 0;
}

#preguntas li{
	list-style: none;
}

#botones{
	text-align: center;
}

span{
	margin: 10px;
}

span select, span input{
	margin-top: 70px;
	width: 235px;
}

.opcion{
	font-style: italic;
}

.pregunta{
	display: grid;
    background-color: lightseagreen;
	padding: 20px;
	margin: 0 5% 10px 5%;
	border-radius: 1.5em;
}

.imgtest{
	width: 150px;
	float: left;
	margin-right: 20px;
	border-radius: 1em;
}

.div_resp p{
	margin: 0;
	padding-left: 20px;
}

#div_nota{
	text-align: center;
	display: grid;
	margin: auto;
}

select[multiple] {
	width: 100%;
	font-size: 0.9em;
}

#temp {
	margin: 0;
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	padding: 5px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
	opacity: 0.7;
	border: solid 2px;
    border-radius: 5px;
}

#crono{
	margin: 0;
	display: inline;
}


@media screen and (max-width: 550px){

	span select, span input{
		margin-top: 15%;
		width: 55%;
	}

	.imgtest{
		width: 35%;
	}

	#temp {
		bottom: 15px;
		right: 5px;
		padding: 3px;
	}
}

@media screen and (max-width: 500px){

	header{
		font-size: 0.9em;
	}

	body{
		font-size: 75%;
	}

	ul{
		padding-inline-start: 0.4em;
	}
	
	span select, span input{
		margin-top: 5%;
		width: 100%;
	}

	.imgtest{
		margin: auto;
		width: 150px;
	}

	div, span{
		display: grid;
	}

	select[multiple] {
	font-size: 0.83em;
	}

	#datos label{
		margin: 10px;
		font-size: 1.2em;
	}
	
	#datos input{
		width: 100%;
		font-size: 1.2em;
	}

	#temp {
		bottom: initial;
		top: 320px;
		right: 0;
		font-size: 15px;
	}
}